:root {
  --color-primary: #f9e9ec;
  --color-secondary: #1d2f6f;
  --color-highlight: #d8bd25;
  --color-lila: #8390fa;
  --color-light: #846a6a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%; /* ha megadom akkor a szülöhöz vizsonyitva 100%*/
}
a {
  color: var(--color-secondary);
}

body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

header {
  background-color: azure;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-areas:
    "logo social "
    "form form";
  gap: 2rem;
  padding: 1rem;
}
.header-logo {
  grid-area: logo;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.header-social {
  grid-area: social;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.header-social a {
  background-color: var(--color-highlight);
  color: var(--color-secondary);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.header-social a:hover {
  background-color: var(--color-secondary);
  color: var(--color-highlight);
}
.header-form {
  grid-area: form;
  display: flex;
  justify-self: center;
}
.header-form input {
  padding: 1rem;
  width: 80vw;
  min-width: 250px;
  border: 2px solid var(--color-lila);
}
.header-form input:focus {
  border: var(--color-light);
}
.header-form button {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-lila);
  border: 2px solid var(--color-lila);
}
.header-form button:hover {
  background-color: var(--color-highlight);
  border: 2px solid var(--color-highlight);
}
.header-logo i {
  font-size: 2rem;
}
footer {
  display: flex;
  justify-content: center;
  margin: 0.75rem;
}
@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
  }
  .header-form input {
    width: 30vw;
  }
}
.container {
  padding: 12rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem;
}
.recipe {
  background-color: whitesmoke;
  width: 300px;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 2px 2px 6px var(--color-light);
}
.recipe i {
  color: var(--color-highlight);
  font-size: 1.25rem;
}
.recipe-data span {
  font-weight: 700;
}
.recipe-bottom {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.recipe-bottom h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.recipe-text h3 {
  margin-bottom: 1rem;
}
.recipe-heading {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.flex-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.recipe-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
